<div id="homepage" class="text-center">
  <div class="jumbotron">
    <div class="container">
      <h1>Hipshort <small>hipster URL shortener</small></h1>
    </div>
  </div>
  <div class="container">
    <form rv-on-submit="controller.shorten | preventDefault" class="form-horizontal" role="form">
      <div class="form-group row">
        <label for="long-url" class="sr-only">Long URL</label>
        <div class="col-sm-10" rv-class-has-error="data.err | isURLError">
          <input id="long-url" name="url" rv-value="data.longURL" placeholder="ex: http://pinterest.com" autofocus class="form-control">
        </div>
        <div class="col-sm-2">
          <button type="submit" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-link"></span> Shorten</button>
        </div>
      </div>
      <div rv-class-hide="data.shortURL | not" class="form-group row hide">
        <hr>
        <div class="col-sm-12">
          <div class="input-group">
            <div class="input-group-addon">Shortened:</div>
            <input id="short-url" rv-value="data.shortURL" readonly class="form-control">
          </div>
        </div>
        <small class="text-muted">You're welcome.</small>
      </div>
      <div rv-class-hide="data.err | not" class="form-group hide">
        <hr>
        <p rv-show="data.err | isURLError">
          Invalid URL. Try something like "<a href="" rv-on-click="controller.etsy | preventDefault">etsy.com</a>".
        </p>
        <p rv-show="data.err | isURLError | not">
          Couldn't shorten that one. Our team of highly trained baristas will investigate this error.
        </p>
      </div>
    </form>
  </div>
  <a id="fork-me" href="https://github.com/beardtree/hipshort">
    <img src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png">
  </a>
</div>
